.git/
.github/.DS_Store
.DS_Store

.env
.envrc
.venv/
env/
venv/

__pycache__/
**/__pycache__/
*.py[codz]
.pytest_cache/
.ruff_cache/

data/
artifacts/
downloads/

docs/node_modules/
docs/.astro/
docs/dist/
docs/.vscode/
